@import ('../../../../stylus/index.styl');

.Info {
    position: relative;

    h3 {
        font-size: 0.17rem;
        line-height: 0.45rem;
        margin-left: 0.15rem;
        color: $font-333;
    }

    span {
        color: red;
        margin: 0 0.15rem;
        font-size: 0.1rem;
    }

    i {
        display: inline-block;
        width: 0.32rem;
        height: 0.2rem;
        border: 0.01rem solid #ffaa00;
        color: #ffaa00;
        font-size: 0.11rem;
        text-align: center;
        line-height: 0.2rem;
        margin: 0 0.05rem;
    }

    p {
        margin-left: 0.15rem;
        text-decoration: line-through;
        font-size: 0.09rem;
        color: $font-666;
        line-height: 0.2rem;
    }

    .likes {
        position: absolute;
        top: 0.2rem;
        right: 0.2rem;
        text-align: center;

        em {
            display: block;
            text-align: center;
        }

        img {
            width: 0.1rem;
            height: 0.1rem;
        }
    }
}