@import ('../../../../stylus/index.styl');

.nav {
    width: 100vw;
    display: flex;
    height: $HomeNavHeight;

    .navBox {
        flex: 1;
        text-align: center;
        margin: 0.04rem;

        img {
            width: 0.7rem;
            height: 0.7rem;
        }

        p {
            text-align: center;
            font-size: 0.11rem;
            line-height: 0.22rem;
            color: $color-666;
        }
    }
}