.inputBox-con {
    margin-top: 0.27rem;

    a {
        font-size: 0.11rem;
        color: $font-666;
        float: right;
        margin-top: 0.23rem;
        margin-bottom: 0.15rem;
    }

    p {
        font-size: 0.11rem;
        color: $font-333;
    }

    .inputBox-con-ipt {
        width: 100%;
        display: block;
        height: $InputHeight;
        line-height: $InputHeight;
        border-bottom: 0.01rem solid #a3a3a3;
        background: $font-white;
    }
}

.btn {
    height: 0.44rem;
    line-height: 0.44rem;
    color: $font-white;
    background: $primary;
    text-align: center;
    border-radius: 0.1rem;
}