$HeaderHeight = 0.8rem;
$HeaderFontSize = 0.16rem;
$margin = 0.2rem;
$padding = 0.1rem;
$margin-left = 0.2rem;
$margin-right = 0.2rem;
$InputHeight = 0.4rem;
$FooterHeight = 0.8rem;
$BannerHeight = 3.8rem;
$ListBoxHeight = 2rem;
$ListBoxImgHeight = 1.6rem;
$HomeNavHeight = 1rem;