@import ('../../stylus/index');

.detail {
    padding-bottom: $HeaderHeight;

    .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100vw;
        height: 0.8rem;
        box-sizing: border-box;
        line-height: $HeaderHeight;
        background: $font-white;
    }

    .footerBtn {
        width: 1.8rem;
        background: $primary;
        float: right;
        text-align: center;
        color: $font-white;
        line-height: 0.8rem;
    }
}